<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
</head>
<body>
    Shared Header Layout from Layout Page
    <br><br>
    <hr>
    <nav>
        <a href="/article/index">Articles</a>
        <a href="/article/add">Create Article</a>
    </nav>
    <%- body %>
    <br><br>
    <hr>
    <br>
    Shared Footer Layout from Layout Page
</body>
</html>