<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <!-- CAN INCLUDE BOOTSTRAP IN HERE TO STANDARDISE LAYOUT -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <b>THE WORLD'S BEST BLOG</b><br>
    Indisputably.
    <br><br><hr>
    <div id="navBar">
        <nav class="leftNav">

            <a href="/articles/index">Articles</a> |
            <a href="/article/add">Create Article</a> |

            <a href="/author/index">Authors</a> |
            <a href="/author/add">Add Author</a> 
        </nav>
        <nav class="rightNav">
            <a href="/auth/signup">Create an Account</a> |
            <a href="/auth/signin">Sign In</a> |
            <a href="/auth/logout">Logout</a>
        </nav>
    </div>  
    <hr>
    <br>
    <%- body %>
    <br><br>
    <hr>
    <br>
    Shared Footer Layout from Layout Page
</body>
</html>