<h1>Add Article</h1>

<form method="post" action="/article/add">

    <div class="mb-3">
        <label class="form-label">Title</label>
        <input class="form-control" name="title" type="text">
    </div>
    <br>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" name="description" placeholder="A short clickbait description of the article"></textarea>
    </div>
    <br>
    <div class="mb-3">
        <label class="form-label">Content</label>
        <textarea class="form-control" name="content" placeholder="The full article text"></textarea>
    </div>
    <br>
    <div class="form-check">
        <label class="form-check-label">Is Published</label>
        <input class="form-check-input" name="isPublished" type="checkbox" value="true"> <!-- note: checkbox will return VALUE when checked, and nothing when unchecked -->
    </div>
    <br>
    <div class="mb-3">
        <label class="form-label">Total Words</label>
        <input class="form-control" name="totalWords" type="number">
    </div>
    <br>
    <div class="mb-3">
        <label class="form-label">Author(s)</label>
        <!-- <input name="author" type="text"> -->
        <select class="form-select" name="author[]" multiple="multiple">
            <% authors.forEach(author => { %>
                <option value="<%= author.id %>"><%= author.name %></option>
            <%})%>
        </select>
    </div>
    <br><br>
    <button class="btn btn-primary mb-3" type="submit">Create Article</button>
</form>